<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Weekly menu</ion-title>
    <ion-buttons slot="secondary">
      <ion-menu-toggle>
        <ion-button icon-only menuClose>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor="let item of menu">
      <ion-reorder slot="start"></ion-reorder>
      <ion-label>
       {{item}}
      </ion-label>
    </ion-item>
  </ion-reorder-group>
</ion-list>
</ion-content>
