<ion-header>
    <ion-toolbar>
        <ion-title>Recipe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-card>
        <ion-img *ngIf="mode === 'view'" [src]="recipe.imageURI" alt="Picture of {{recipe.name}}" align-items-center justify-content-center class="recipeImage"></ion-img>
        <ion-img *ngIf="mode === 'edit' && downloadURL == null" alt="Picture of this item" [src]="recipe.imageURI" align-items-center justify-content-center class="recipeImage"></ion-img>
        <ion-img *ngIf="mode === 'new' || mode === 'edit' && downloadURL != null" [src]="downloadURL | async" alt="Picture of this item" align-items-center justify-content-center class="recipeImage"></ion-img>
        <ion-img *ngIf="mode === 'new' && downloadURL == null" alt="Picture of this item" src="assets/images/No_image_available.svg" align-items-center justify-content-center class="recipeImage"></ion-img>
        <ion-item *ngIf="mode === 'new' || mode === 'edit' && !platformTypeCordova">
            <ion-label position="stacked">Choose recipe image</ion-label>
            <input type="file" capture accept="image/*" (change)="onChangeImageUpload($event)"/>
        </ion-item>
        <ion-item *ngIf="mode === 'new' || mode === 'edit' && platformTypeCordova" lines="none">
            <ion-button fill="clear" (click)="getRecipeImageFromCamera()">
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label *ngIf="recipe.imageURI != null">Edit image</ion-label>
                <ion-label *ngIf="recipe.imageURI == null">Add image</ion-label>
            </ion-button>
        </ion-item>
        <ion-card-header>
            <ion-card-title>
                <ion-label *ngIf="mode === 'view'">{{recipe.name}}</ion-label>
                <ion-label *ngIf="mode === 'new' || mode === 'edit'" position="stacked">Recipe name</ion-label>
                <ion-input *ngIf="mode === 'new' || mode === 'edit'" placeholder="Type here..." formControlName="recipeName"></ion-input>
            </ion-card-title>
            <ion-card-subtitle>
                <ion-label *ngIf="mode === 'view'">{{recipe.description}}</ion-label>
                <ion-label *ngIf="mode === 'new' || mode === 'edit'" position="stacked">Recipe description</ion-label>
                <ion-input *ngIf="mode === 'new' || mode === 'edit'" placeholder="Optional" formControlName="recipeDescription"></ion-input>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item class="noPadding">
                <ion-label>Recipe ingredients</ion-label>
            </ion-item>
            <ion-grid>
                <ion-list #ingredientList>
                    <ion-row>
                        <ion-list-header class="noPadding">
                            <ion-col size="6">
                                <ion-label>Item name</ion-label>
                            </ion-col>
                            <ion-col size="3">
                                <ion-label>#</ion-label>
                            </ion-col>
                            <ion-col size="3">
                                <ion-label>To list</ion-label>
                            </ion-col>
                        </ion-list-header>
                    </ion-row>
                    <ion-row *ngFor="let ingredient of recipe.ingredients; let i = index">
                        <ion-item-sliding>
                            <ion-item class="noPadding">
                                <div [class]="getStyleClass(ingredient)" [ngStyle]="{'border-left': getStyle(ingredient.item.itemColor)}"></div>
                                <ion-col size="6">
                                    <ion-label>
                                        <h3>{{ ingredient.item.itemName }}</h3>
                                    </ion-label>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-badge *ngIf="ingredient.amount != '0'" color="primary">{{ ingredient.amount }}</ion-badge>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-toggle *ngIf="mode === 'edit' || mode === 'new'" [checked]="ingredient.isCollectedAsDefault" [value]="ingredient.isCollectedAsDefault" (ionChange)="onToggleIngredientCollectionDefault(ingredient)"></ion-toggle>
                                    <ion-icon *ngIf="mode === 'view' && ingredient.isCollectedAsDefault" name="checkmark-circle-outline" color="success"></ion-icon>
                                    <ion-icon *ngIf="mode === 'view' && !ingredient.isCollectedAsDefault" name="close-circle-outline" color="danger"></ion-icon>
                                </ion-col>
                            </ion-item>
                            <ion-item-options side="end">
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-row>
                </ion-list>
            </ion-grid>
            <ion-button (click)="addItems()" fill="clear" *ngIf="mode === 'edit' || mode === 'new'" >
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label>Add items</ion-label>
            </ion-button>
        </ion-card-content>
        <ion-grid *ngIf="mode === 'view'">
            <ion-row>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" (click)="onAddIngredients()">
                        <ion-icon slot="start" name="basket"></ion-icon>
                        <div>To Shopping List</div>
                    </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" (click)="onEditRecipe()">
                        <ion-icon slot="start" name="create"></ion-icon>
                        <div>Edit Recipe</div>
                    </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" (click)="onDeleteRecipe()" color="danger">
                        <ion-icon slot="start" name="trash"></ion-icon>
                        <div>Remove Recipe</div>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="mode === 'new' || mode === 'edit'">
            <ion-row>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" type="submit">
                        <ion-icon slot="start" name="save"></ion-icon>
                        <div>Save changes</div>
                    </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" (click)="onCancel()">
                        <ion-icon slot="start" name="arrow-back" color="warning"></ion-icon>
                        <div>Cancel</div>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    </form>
</ion-content>
