<ion-header>
    <ion-toolbar>
        <ion-title>Recipe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-card>
        <ion-img *ngIf="recipeImageURI != null" alt="Picture of this item" align-items-center justify-content-center></ion-img>
        <ion-item *ngIf="!platform.is('cordova')">
            <ion-label position="stacked">Choose recipe image</ion-label>
            <input type="file" capture accept="image/*" formControlName="recipeImageURI"/>
        </ion-item>
        <ion-item *ngIf="platform.is('cordova')" lines="none">
            <ion-button fill="clear" (click)="getRecipeImageFromCamera()">
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label *ngIf="recipeImageURI != null">Edit image</ion-label>
                <ion-label *ngIf="recipeImageURI == null">Add image</ion-label>
            </ion-button>
        </ion-item>
        <ion-card-header>
            <ion-card-title>
                <ion-input placeholder="Recipe name..." formControlName="recipeName"></ion-input>
            </ion-card-title>
            <ion-card-subtitle>
                <ion-input placeholder="Recipe description..." formControlName="recipeDescription"></ion-input>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-list #ingredientList>
                    <ion-row>
                        <ion-list-header>
                            <ion-col size="6">
                                <ion-label>Item name</ion-label>
                            </ion-col>
                            <ion-col size="3">
                                <ion-label>#</ion-label>
                            </ion-col>
                            <ion-col size="3">
                                <ion-label>To list</ion-label>
                            </ion-col>
                        </ion-list-header>
                    </ion-row>
                    <ion-row *ngFor="let ingredient of ingredients; let i = index">
                        <ion-item-sliding>
                            <ion-item class="noPadding">
                                <div [class]="getStyleClass(ingredient)" [ngStyle]="{'border-left': getStyle(ingredient.item.itemColor)}"></div>
                                <ion-col size="6">
                                    <ion-label>
                                        <h3>{{ ingredient.item.itemName }}</h3>
                                    </ion-label>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-badge *ngIf="ingredient.amount != '0'" color="primary">{{ ingredient.amount }}</ion-badge>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-toggle></ion-toggle>
                                </ion-col>
                            </ion-item>
                            <ion-item-options side="end">
                                <ion-item-option
                                        size="small"
                                        color="primary"
                                        (click)="onEdit(ingredient)"
                                >
                                    <ion-icon name="create"></ion-icon>
                                    Edit
                                </ion-item-option>
                                <ion-item-option
                                        size="small"
                                        color="secondary"
                                        (click)="onRemoveItem(ingredient)"
                                >
                                    <ion-icon name="trash"></ion-icon>
                                    Delete
                                </ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-row>
                </ion-list>
            </ion-grid>
            <ion-button (click)="addItems()" fill="clear">
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label>Add items</ion-label>
            </ion-button>
        </ion-card-content>

        <ion-grid *ngIf="mode === 'view'">
            <ion-row>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" (click)="onAddIngredients()">
                        <ion-icon slot="start" name="basket"></ion-icon>
                        <div>To Shopping List</div>
                    </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" (click)="onEditRecipe()">
                        <ion-icon slot="start" name="create"></ion-icon>
                        <div>Edit Recipe</div>
                    </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" (click)="onDeleteRecipe()" color="danger">
                        <ion-icon slot="start" name="trash"></ion-icon>
                        <div>Remove Recipe</div>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="mode === 'new' || mode === 'edit'">
            <ion-row>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" type="submit">
                        <ion-icon slot="start" name="save"></ion-icon>
                        <div>Save changes</div>
                    </ion-button>
                </ion-col>
                <ion-col size="12" size-sm>
                    <ion-button fill="clear" size="small" (click)="cancel()">
                        <ion-icon slot="start" name="arrow-back" color="warning"></ion-icon>
                        <div>Cancel</div>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    </form>
</ion-content>
