<ion-list #shoppingListsList>
<ion-item-sliding *ngFor="let shoppingList of shoppingLists; let i = index">
    <ion-item>
        <ion-label text-wrap (click)="toShoppingList(shoppingList.uuid)">
            <ion-text color="primary">
                <ion-input id="{{shoppingList.uuid}}_inputField" name="{{shoppingList.uuid}}_input" *ngIf="inEditMode === shoppingList.uuid" autofocus="true" type="text" [value]="shoppingList.name" required (keyup.enter)="onChangeShoppingListName(shoppingList, $event)" (blur)="onChangeShoppingListName(shoppingList, $event)"></ion-input>
                <h3 *ngIf="inEditMode == null || inEditMode !== shoppingList.uuid">{{shoppingList.name}}</h3>
            </ion-text>
            <p *ngIf="shoppingList.items != undefined">{{shoppingList.items | objectName}}</p>
        </ion-label>
    </ion-item>
    <ion-item-options side="end">
        <ion-item-option
                size="small"
                color="primary"
                (click)="onEdit(shoppingList)"
        >
            <ion-icon name="create"></ion-icon>
            Edit
        </ion-item-option>
        <ion-item-option
                size="small"
                color="secondary"
                (click)="onRemoveItem(shoppingList)"
        >
            <ion-icon name="trash"></ion-icon>
            Delete
        </ion-item-option>
    </ion-item-options>
</ion-item-sliding>
<ion-item lines="none" class="add-list-item">
    <app-styled-button 
        (buttonClick)="onCreateNewList()"
        color="success"
        variant="solid"
        size="default"
        expand="block"
        icon="add-circle-outline"
        iconSlot="start"
        text="New Shopping List">
    </app-styled-button>
</ion-item>
</ion-list>
