<ion-header>
    <ion-toolbar>
        <ion-title>Kauppalista</ion-title>
        <ion-buttons slot="secondary">
            <ion-menu-toggle>
                <ion-button icon-only>
                    <ion-icon name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-item *ngIf="showSearchBar">
        <ion-searchbar #ingredientBar
                   showCancelButton="false"
                   animated
                   placeholder="+ New Item"
                   debounce="700"
                   (click)="openIngredientOverlay()"
                   searchIcon="nutrition">
        </ion-searchbar>
        <ion-button fill="clear" size="small" (click)="onOpenItemsList()">
            <ion-icon name="book"></ion-icon>
        </ion-button>
    </ion-item>
    <!-- Displayed List -->
    <ion-spinner *ngIf="loading" name="lines" color="primary" align-self-center></ion-spinner>
    <ion-list #ingredientList class="unCollected" [inset]="false" *ngIf="!loading">
        <ion-item-sliding *ngFor="let ingredient of ingredients | isCollected : false; let i = index">
            <ion-item class="noPadding" [ngClass]="ingredient.isBeingCollected ? 'collected' : ''" (click)="!ingredient.isBeingCollected ? onStartCollect(ingredient) : cancelCollect(ingredient)" (animationend)="onCollect(ingredient)">
                <div [class]="getStyleClass(ingredient)" [ngStyle]="{'border-left': getStyle(ingredient.item.itemColor)}"></div>
                <ion-label>
                <h3>{{ ingredient.item.itemName }}</h3>
                </ion-label>
                <ion-badge *ngIf="ingredient.amount != '0'" color="primary">{{ ingredient.amount }}</ion-badge>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option
                        size="small"
                        color="primary"
                        (click)="onEdit(ingredient)"
                >
                    <ion-icon name="create"></ion-icon>
                    Edit
                </ion-item-option>
                <ion-item-option
                        size="small"
                        color="secondary"
                        (click)="onRemoveItem(ingredient)"
                >
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!-- Collected items List -->
    <ion-list lines="none" position="bottom">
            <ion-item class="isCollected" *ngFor="let ingredient of ingredients | isCollected : true; let i = index" (click)="onDeCollect(ingredient)">
                <ion-label >
                    <h3>{{ ingredient.item.itemName }}</h3>
                </ion-label>
                <ion-badge color="primary">{{ ingredient.amount }}</ion-badge>
            </ion-item>
    </ion-list>
</ion-content>
