<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Recipes</ion-title>
        <ion-buttons slot="secondary">
            <ion-menu-toggle>
                <ion-button icon-only menuClose>
                    <ion-icon name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
            <ion-button (click)="onNewRecipe()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-virtual-scroll #virtualScroll [items]="recipes">
        <ion-item *virtualItem="let recipe">
                <ion-avatar slot="start">
                    <ion-img [src]="recipe.imageURI"></ion-img>
                </ion-avatar>
                <ion-label>{{recipe.name}}</ion-label>
                <ion-icon slot="end" name="close-circle"></ion-icon>
        </ion-item>
    </ion-virtual-scroll>
</ion-content>
